<h3><%= @category.name() %></h3>
<div class="row">
  <div class="col-md-6">
    <h4>Recipes in this Category:</h4>
    <ul>
      <% @category.recipes.each() do |recipe| %>
      <li><%= recipe.name() %></li>
      <% end %>
    </ul>

    <form action="/categories/<%= @category.id() %>" method="post">
      <h4>Add recipes to this category:</h4>
      <% @recipes.each() do |recipe| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="recipe_ids[]" value="<%= recipe.id() %>"><%= recipe.name() %>
          </label>
        </div>
      <% end %>
      <button type="submit" class="btn btn-warning">Add Recipe</button>
    </form>
  </div>
  <div class="col-md-6">
    <form action="/categories/<%= @category.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <input class="form-control" id="new_category" name="new_category" placeholder="Update Category Name">
      </div>
      <button type="submit" class="btn btn-success">Update Name</button>
    </form>
    <br>
    <br>
    <form action="/categories/<%= @category.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">Delete Category</button>
    </form>
  </div>
</div>
<br>
<a href='/'>Return to Homepage</a>
