<h3><%= @recipe.name() %></h3>
<% if @recipe.rating() %>
  <h4 style='color:tomato'><%= @recipe.rating() %> Stars</h4>
<% else %>
  <h4 style='color:gray'>This recipe has not been rated</h4>
<% end %>
<div class="row">
  <div class="col-md-4">
    <h4>Ingredients:</h4>
    <ul>
      <% @recipe.ingredients.each() do |ingredient| %>
        <li><a href="/ingredients/<%= ingredient.id() %>"><%= ingredient.name() %></a></li>
      <% end %>
    </ul>

    <h4>Instructions: </h4><h6><%= @recipe.instructions() %></h6>
  </div>
  <div class="col-md-4">
    <h4>Categories:</h4>
    <ul>
      <% @recipe.categories.each() do |category| %>
      <li><%= category.name() %></li>
      <% end %>
    </ul>
    <form action="/recipes/<%= @recipe.id() %>" method="post">
      <h4>Add categories this recipe belongs to:</h4>
      <% @categories.each() do |category| %>
        <% unless category.recipe_ids.include?(@recipe.id()) %>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="category_ids[]" value="<%= category.id() %>"><%= category.name() %>
            </label>
          </div>
        <% end %>
      <% end %>
      <button type="submit" class="btn btn-warning">Add Category</button>
    </form>
    <form action="/recipes/<%= @recipe.id() %>" method="post">
      <h4>Add Ingredients to this recipe:</h4>
      <% @ingredients.each() do |ingredient| %>
        <% unless ingredient.recipe_ids.include?(@recipe.id()) %>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ingredient_ids[]" value="<%= ingredient.id() %>"><%= ingredient.name() %>
            </label>
          </div>
        <% end %>
      <% end %>
      <button type="submit" class="btn btn-warning">Add Ingredient</button>
    </form>


  </div>
  <div class="col-md-4">
    <form action="/recipes/<%= @recipe.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <input class="form-control" id="name" name="name" placeholder="Update Recipe Name">
      </div>
      <div class="form-group">
        <input class="form-control" id="instructions" name="instructions" placeholder="Update Recipe Instructions">
      </div>
      <button type="submit" class="btn btn-success">Update Recipe</button>
    </form>
    <form action="/ratings/<%= @recipe.id() %>" method="post">
      <input type="hidden" name="_method" value="post">
      <div class="radio">
        <label>
          <input type="radio" id="opt3" name="ratings" value="3"> 3 (super tasty)
        </label>
        <br>
        <label>
          <input type="radio" id="opt2" name="ratings" value="2" checked> 2 (weeknight)
        </label>
        <br>
        <label>
          <input type="radio" id="opt1" name="ratings" value="1"> 1 (not tasty)
        </label>
      </div>
      <button type="submit" class="btn btn-info">Add Rating</button>
    </form>
    <br>
    <form action="/recipes/<%= @recipe.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">Delete Recipe</button>
    </form>
  </div>
</div>
<br>
<a href='/'>Return to Homepage</a>
